.logoimg {
    border-radius: 50%;
    max-width: 20%;
    
}

.colcheck {
    color: #cbcac7;
}

.sec2col {
    background-color: #cbcac7;
}

.white-section {
    background-color: #3F72AF;
  }
#tab1 {
    color: #DBE2EF;
  }

  .row{
    margin-top:40px;
    padding: 0 10px;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}
.primtab{
    width: 100%;
    
}
.footer-end {
    text-align: center;
    padding-bottom: 15px;  }
.footext{
    color:darkcyan;    
}

#slogo {
    position: absolute;
    right: 0px;
    max-width: 50%;
    max-height: 50%;
}
#mapsec {
    padding-bottom: 10px;
    text-align: center;
    color:darkcyan;  
}